.DS_Store
.idea/  

/bazel-*

deploy/infra/env/*/.terraform
deploy/infra/env/*/*.tfstate
deploy/infra/env/*/*.tfstate.*
deploy/infra/env/*/crash.log
deploy/infra/env/*/terraform.tfvars

deploy/state/.terraform/*
deploy/state/*.tfstate
deploy/state/*.tfstate.*
deploy/state/crash.log
deploy/state/terraform.tfvars

/venv
chatbot/*/venv
chatbot/*/venv/*
chatbot/**/__pycache__
