fastapi==0.115.12
uvicorn[standard]==0.34.0
torch==2.6.0 --index-url https://download.pytorch.org/whl/cpu
pydantic==2.11.2
pydantic-settings==2.8.1
httpx==0.28.1
gunicorn==23.0.0
hf_xet
langchain==0.3.23
langchain-community==0.3.21
langchain-openai==0.1.11
langchain-core==0.2.13
langchain-aws==0.1.6
black==24.2.0
python-dotenv==1.0.1
